.grid-wrapper {
  overflow: scroll;

  height: 90vh;
  width: 100vw;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
}
.grid-1 {
  display: grid;
  overflow: scroll;
  height: 20px;
}
.booking-text {
  padding: 2%;
  font-size: 0.9em;
}
.booking {
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-out;
  justify-content: space-between;
}
.booking-option {
  padding-bottom: 10px;
  display: flex;
  opacity: 0;
  transition: all ease-in 0.2s;
  justify-content: space-evenly;
}

.booking:hover > .booking-option {
  opacity: 100;
}

.booking:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.option {
  cursor: pointer;
}
